<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">New Horizons</a>
      <ul id="nav-mobile" class="list-group list-group-horizontal">
        <li class="list-group-item list-group-item-primary"><a [routerLink]="['/']"> Inicio </a></li>
        <li class="list-group-item list-group-item-primary"><a [routerLink]="['/Cursos/bookpage']"> Cursos </a></li>
        <li class="list-group-item list-group-item-primary"><a [routerLink]="['/Contactanos/contactopage']">Contactanos</a></li>
        <li class="list-group-item list-group-item-primary"><a [routerLink]="['/Administrador/add-bookpage']">Administrador</a></li>
        <li class="list-group-item list-group-item-primary"><a [routerLink]="['/login/loginpage']">Inicio de Sesion</a></li>
      </ul>
    </div>
   </nav>